.container
    .navbar
        .logo
            <img src="images/logo.jpeg" width="100px" height="90px">
        nav
            ul
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
                if !user
                    <li><a href="/signup">Sign-Up</a></li>
                    <li><a href="/login">Log in</a></li>
                if user
                    <li><a href="/logout">Log out</a></li>