extends layout

block content
  .header
    .container
      .row
        .col-2
          h1 Get Something Unique!!
        .col-2
          <img src="images/extension.jpeg">
  .category
    h2.title
      Featured Categories
    .small-container
      .row
        .col-3
          <img src="images/laptop.jpg">
            h3 Laptop
        .col-3
          <img src="images/mi_extension.png">
            h3 MI Extension
        .col-3
          <img src="images/laptop2.png">
            h3 Laptop
        .col-3
          <img src="images/laptop6.png">
            h3 Laptop
        .col-3
          <img src="images/extension1.png">
            h3 Extension
  .footer
    .container
      .row
        .ft-col-1
          h3 Useful Links
          ul
            li Blog Post
            li Return Policy
        .ft-col-2
          h3 Follow Us
          ul
            li Facebook
            li Instagram
            li Twitter
            li You Tube
      hr
      p.copyright Copyright 2020 - Usman