extends ../layout

block content
    .row
        .col-sm-8
            h1 List of Products
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add new Product
    table.table
        thead
            tr
                th Name
                th Model
                th Price
                th Actions
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.model
                    td=product.price
                    td
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                        a(href="/products/cart/"+product._id, class="btn btn-info") Add to Cart
                hr